html, body {
    height: 100%;
    margin: 0;
}
.container {
    margin: auto;
    height: 100%;
    width: 100%;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
}
header {
    flex: 0 0 100px;
    background-color: orange;
}
main {
    flex: 1 1 auto;
    background-color: blue;
}
footer {
    flex: 0 0 40px;
    background-color: red;
}