@import url('https://fonts.googleapis.com/css?family=Noto+Sans');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');

@media only screen and (min-width: 1000px) {
    html {
        overflow-y: scroll;
    }
}

html,
body {
    height: 100%;
    margin: 0;
    background-color: #f3f3f3;
    font-family: 'Roboto Slab', serif;
}

.container {
    margin: auto;
    height: 100%;
    width: 100%;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
}

header {
    position: relative;
    height: 300px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.header-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.header-title {
    position: absolute;
    margin: 0;
    bottom: 0px;
    left: 0px;
    font-family: 'Noto Sans', sans-serif;
    font-size: 40px;
    color: white;
}

nav {
    background-color: #0068bf;
    padding-left: 40px;
}

nav>a {
    float: left;
    background-color: #0068bf;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

nav>a:hover {
    background-color: #003e8e;
    color: white;
}

nav>a.active {
    background-color: white;
    color: black;
}

main {
    background-color: white;
    flex: 1 1 auto;
    padding: 0 50px;
    padding-top: 10px;
    padding-bottom: 50px;
}

.gallery-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 20px;
    align-items: stretch;
}
.gallery-element {
    box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
    max-width: 100%;
}
.gallery-element>img {
    width: 100%;
    object-fit: cover;
}

footer {
    padding: 6px;
    background-color: #0068bf;
    border-top: 0;
    color: white;
}

footer .copyright {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: center;
}

footer .copyright li {
    border-left: solid 1px #d4d4d4;
    display: inline-block;
    font-size: 0.8em;
    margin-left: 1em;
    padding-left: 1em;
}

footer .copyright li:first-child {
    border-left: 0;
    margin-left: 0;
    padding-left: 0;
}

footer .copyright li a {
    color: inherit;
    text-decoration: none;
}